[submodule "LucentForge/ReferenceFilesAndCode/RPGDatabaseManager/w7-mid-term-prep"]
	path = LucentForge/ReferenceFilesAndCode/RPGDatabaseManager/w7-mid-term-prep
	url = https://github.com/WCTC-Net-Database/w1-file-i-o-Sdunn235.git
